body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0px;
}




main{
  background-color: rgba(77,197,176,0.5);
  min-width: 100vw;
  border-radius: 20px;
}

.index-contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

}


.index-contenido div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.index-contenido a{
  margin: 2rem 0 0 0;
  background-color:rgba(77,197,176,0.9);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px black;
  font-weight: 400;
  transition: all 1s ease-out;

  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.index-contenido a:hover{
  background-color: rgba(254,196,0,1);
  color: black;

}

.pelota{
  position: relative;
  animation: movimiento 4s infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes movimiento{
  from{
      transform: translateX(10%);
  }
  to {
      transform: translateX(90%);
  }
}


.field {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 300px;
  height: 200px;
}

.boy {
  background-image: url("../img/ninocd.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-left: 5rem;
}

.ball {
  background-image: url("../img/pelota2.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  /* background-color: #FF4500; Color naranja */
  bottom: 100px;
  left: 40%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation: bounce 1s infinite alternate; /* Animación para hacer rebotar la pelota */
}

@keyframes bounce {
  0% {
    bottom: 70px;
  }
  100% {
    bottom: 120px;
  }
}



@media (min-width: 748px){

main{
    background-color: rgba(77,197,176,0.5);
    width: max-content;
    min-width: max-content;
    margin: 2rem auto;
    border-radius: 20px;
}

.index-contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem 5rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}


.index-contenido div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.index-contenido a{
    margin: 2rem 0 0 0;
    background-color:rgba(77,197,176,0.9);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: solid 1px black;
    font-weight: 400;
    transition: all 1s ease-out;

    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.index-contenido a:hover{
    background-color: rgba(254,196,0,1);
    color: black;

}

.pelota{
    position: relative;
    animation: movimiento 4s infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

@keyframes movimiento{
    from{
        transform: translateX(10%);
    }
    to {
        transform: translateX(90%);
    }
}


.field {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 300px;
    height: 200px;
  }
  
  .boy {
    background-image: url("../img/ninocd.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: 5rem;
  }
  
  .ball {
    background-image: url("../img/pelota2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: #FF4500; Color naranja */
    bottom: 100px;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: bounce 1s infinite alternate; /* Animación para hacer rebotar la pelota */
  }
  
  @keyframes bounce {
    0% {
      bottom: 70px;
    }
    100% {
      bottom: 120px;
    }
  }

}